$_grand-hotel: 'Grand Hotel', cursive;
$_abril-fatface: 'Abril Fatface', cursive;

$sub-title-font-family: $_grand-hotel;
$title-font-family: $_abril-fatface;

$rolling-stone: #808285;

$font-color: #808285;
