$_grand-hotel: 'Grand Hotel', cursive;
$_abril-fatface: 'Abril Fatface', cursive;
$_roboto-slab: 'Roboto Slab', serif;

$sub-title-font-family: $_grand-hotel;


$_rolling-stone: #808285;
$_anzac: #e6bf48;
$_white: #fff;

$font-color: #808285;

$on-this-day-background: $_anzac;
$on-this-day-wrapper-background: $_white;

$categories-background-yellow: rgba($_anzac, .6);
$categories-background-yellow-hover: $_anzac;
$categories-background-grey: rgba($_rolling-stone, .6);
$categories-background-grey-hover: $_rolling-stone;
$categories-border-grey: $_rolling-stone;
