.page-footer {
  background-color: $footer-background-color;
  color: $footer-font-color;
  font-family: $footer-font-family;
  height: 250px;
  padding: 40px;
  width: 100%;

  .footer-wrapper {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    height: 100%;
    margin: 0 auto;

    a {
      color: $footer-font-color;
      text-decoration: none;
    }

    .logo {
      height: 100px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      width: 100px;

      &::after {
        background-image: image-url('j-logo-small.png');
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .footer-social-media {
      text-align: center;
    }

    footer {
      text-align: center;
    }
  }
}
