* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &,
  &:before,
  &:after {
    @include box-sizing(inherit);
  }

  @include input-placeholder {
    @include transition(color .3s ease);
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
  @include box-sizing(border-box);
}

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

body {
  background-color: $aubergine;
  border-left: 40px solid $white;
  border-right: 40px solid $white;

  &:before,
  &:after {
    background-color: $white;
    content: '';
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;

  }
}

h2 {
  font-size: 30px;
}

li {
  text-decoration: none;
}

p {
  font-family: $_roboto-slab;
}

@include keyframes(FadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
