* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &,
  &:before,
  &:after {
    @include box-sizing(inherit);
  }

  @include input-placeholder {
    @include transition(color .3s ease);
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
  @include box-sizing(border-box);
}

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

h1 {
  font-family: $_abril-fatface;
}

h4 {
  font-family: $sub-title-font-family;
}

p {
  font-family: $_roboto-slab;
}
