%page-border {
  background-color: $white;
  content: '';
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include input-placeholder {
    @include transition(color .3s ease);
  }

  &,
  &::before,
  &::after {
    @include box-sizing(inherit);
  }


  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

html {
  @include box-sizing(border-box);
  font-size: 62.5%;

  &::before {
    @extend %page-border;
  }
}

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

body {
  background-color: $aubergine;
  border-left: 40px solid $white;
  border-right: 40px solid $white;
  padding-top: 40px;

  &::after {
    @extend %page-border;
  }
}

.page-wrapper {
  padding: 40px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
}

h2 {
  font-size: 30px;
  font-weight: 900;
}

.page-title {
  color: $finn;
  margin-bottom: 40px;
  text-align: center;
}

li {
  text-decoration: none;
}

p {
  font-family: $_roboto-slab;
}

@include keyframes(FadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
