.book-review__listing {
  @include horizontal-center(relative);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;

  &--item {
    a {
      color: $white;
      font-family: $_raleway;
      font-size: 25px;
      font-weight: 900;
      text-decoration: none;
    }

    .author {
      color: $finn;
      font-size: 18px;
    }

    .listing--image {
      background-position: center center;
      background-size: cover;
      height: 360px;
      margin: 20px 0;
      width: 240px;
    }

    p {
      font-size: 16px;
    }
  }

  &--item:nth-child(3n+2) {
    margin: 0 20px;
  }
}
