.nav-menu__container {
  background-color: $aubergine;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translate(0, 100%);
  width: 100vw;
  z-index: 100;

  &.active {
    opacity: 1;
    transform: translate(0);

    &.nav-menu {
      opacity: 1;
    }
  }
}

.menu {
  @include absolute-center(absolute);
  display: flex;
  flex-direction: column;
  font-family: $nav-font;
  font-size: 50px;
  font-weight: 500;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;

  li {
    height: 50px;
    margin: 20px 0;
    overflow: hidden;
    padding: 0 4px;
    text-decoration: none;
    text-transform: uppercase;

    a {
      @include transition(opacity.3s);
      color: $finn;
      display: inline-block;
      position: relative;
      text-decoration: none;

      &:hover {
        opacity: .6;
      }
    }

    // a::before {
    //   @include transform(translate3d(0, 0, 0));
    //   color: $finn;
    //   content: attr(data-hover);
    //   font-weight: 700;
    //   position: absolute;
    //   top: 100%;
    // }
    //
    // &:hover a,
    // &:focus a {
    //   @include transform(translateY(-100%));
    // }
  }
}
