.categories-section {
  @include display-flex;
  @include justify-content(space-between);
  height: 300px;
  width: 100%;

  .categories-block {
    @include font-size(3);
    border-bottom: 1px $categories-border-grey solid;
    border-right: 1px $categories-border-grey solid;
    color: $_white;
    position: relative;
    text-align: center;
    width: 33.333%;

    h1 {
      @include absolute-center(absolute);
    }

    &:nth-child(odd) {
      @include transition(background-color .4s);
      background-color: $categories-background-yellow;
    }

    &:nth-child(even) {
      @include transition(background-color .4s);
      background-color: $categories-background-grey;
    }

    &:hover:nth-child(odd) {
      background-color: $categories-background-yellow-hover;
    }

    &:hover:nth-child(even) {
      background-color: $categories-background-grey-hover;
    }
  }
}
