.categories-section {
  @include display-flex;
  @include justify-content(space-between);
  height: 300px;
  width: 100%;

  .categories-block-1,
  .categories-block-2,
  .categories-block-3 {
    @include font-size(3);
    color: $_white;
    position: relative;
    text-align: center;
    width: 33.333%;

    h1 {
      @include absolute-center(absolute);
    }
  }

  .categories-block-1 {
    background-color: $categories-background-yellow;
  }

  .categories-block-2 {
    background-color: $categories-background-grey;
  }

  .categories-block-3 {
    background-color: $categories-background-yellow;
  }
}
