.categories-section {
  @include display-flex;
  @include justify-content(space-between);
  height: 250px;
  width: 100%;

  .categories-block {
    width: 33.333%;

    .category-image {
      @include font-size(3);
      background-image: image-url('castle-bavarian.jpg');
      background-position: center center;
      color: $_white;
      height: 50%;
      padding: 120px;
      text-align: center;
      width: 100%;
    }
  }
}
