.header {
  @include display-flex;
  @include justify-content(space-between);
  height: 180px;
  padding: 40px;
  width: 100%;

  .title {
    @include font-size(1.8);
    padding-top: 20px;
    text-align: center;
    width: 180px;

    h4 {
      padding-top: 10px;
    }
  }

  .social-media {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include font-size(2.5);
    width: 100px;
  }
}

.logo {
  height: 100px;
  position: relative;
  width: 100px;

  &::after {
    background-image: image-url('j-logo-small.png');
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
