%menu-bars {
  background-color: $white;
  content: '';
  display: block;
  height: 2px;
  width: 35px;
}

.header {
  border-bottom: 1px solid $finn;
  margin: 0 40px;
  padding: 40px 0 30px;
  position: relative;

  &-name h2 {
    color: $white;
  }

  &-social-media {
    padding-top: 20px;

    ul {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      justify-content: space-between;
      text-transform: uppercase;
      width: 280px;
    }

    li {
      color: $white;

      a {
        color: $white;
        font-family: $link-font;
        text-decoration: none;
      }

      &::after {
        color: $white;
        content: '//';
        padding: 5px;
      }
    }

    li:last-child {
      &::after {
        display: none;
      }
    }
  }

  .menu-icon {
    @include vertical-center(absolute);
    cursor: pointer;
    height: 30px;
    right: 0;
    width: 35px;
    z-index: 200;

    &__bars {
      @extend %menu-bars;
      @include vertical-center(absolute);
      @include transition(background $global-transition-timing,
                          transform $global-transition-timing,
                          height $global-transition-timing);
    }

    &::before,
    &::after {
      @extend %menu-bars;
      @include transition(transform $global-transition-timing);
      content: '';
      position: absolute;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .menu-icon:hover {
    &::before {
      @include translateY(-2px);
    }

    &::after {
      @include translateY(2px);
    }
  }

  .menu-icon.active {
    span {
      @include transform(rotate(-180deg));
      opacity: 0;
    }

    &::before,
    &::after {
      height: 2px;
      top: 12px;
    }

    &::before {
      @include transform(rotate(135deg));
    }

    &::after {
      @include transform(rotate(-135deg));
    }
  }
}
