.header {
  border-bottom: 1px solid $finn;
  height: 50px;
  margin: 0 40px;
  padding: 40px 0;

  &-name {
    color: $white;
  }

  &-social-media {
    ul {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      justify-content: space-between;
      text-transform: uppercase;
      width: 280px;

      li:after {
        color: $white;
        content: '//';
        padding: 5px;
      }
    }
  }
}
