.on-this-day {
  background-color: $on-this-day-background;
  color: $font-color;
  height: calc(100vh - 180px);
  padding: 100px;
  width: 100vw;

  .wrapper {
    @include display-flex;
    @include flex-direction(row);
    background-color: $on-this-day-wrapper-background;
    height: 100%;
    width: 100%;

    .left-content {
      background-color: $_rolling-stone;
      height: 100%;
      width: 50%;
    }

    .right-content {
      padding: 20px;
      width: 50%;

      .right-content-container {
        h1 {
          @include font-size(3);
        }

        .date {
          opacity: .4;
        }

        .description {
          @include font-size(2.5);
          line-height: 32px;
          padding: 20px 0;
        }
      }
    }
  }
}
